<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="Farm_databaseConnectionString" connectionString="Data Source=(localdb)\v12.0;Initial Catalog=Farm_database;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
    <add name="Group_DBConnectionString" connectionString="Data Source=(localdb)\v12.0;Initial Catalog=Group_DB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
    <add name="GroupDatabaseConnectionString" connectionString="Data Source=(localdb)\v12.0;Initial Catalog=GroupDatabase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
    <add name="New_DatabaseConnectionString" connectionString="Data Source=(localdb)\v12.0;AttachDbFilename=|DataDirectory|\New Database.mdf;Initial Catalog=&quot;New Database&quot;;Integrated Security=False;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
    <add name="New_DatabaseConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\New Database.mdf&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
